In [ ]:
'''For Loop Functions'''

In [9]:
# 1. Print each letter in the string "Aditya"
for let in "Aditya":
    print(let)

A
d
i
t
y
a

In [12]:
# 2. Print even numbers from a list.
l1 = [1,2,3,4,5,6,7,8,9,10]
for n in l1:
    if n%2 == 0:
         print (n)

2
4
6
8
10

In [16]:
# 3. Print the square of numbers from 1 to 5.
l1 = [1,2,3,4,5]
for i in l1:
    print (i**2)

1
4
9
16
25

In [17]:
# 4. Print index and value using enumerate().
items = ['pen', 'pencil', 'eraser']
for index, item in enumerate(items):
    print(index, item)

0 pen
1 pencil
2 eraser

In [19]:
# 5. Combine two lists using zip().
a = ('Aditya', 'Yash', 'Shiv')
b = [1,2,3]
for x,y in zip (b,a):
    print (x,y)

1 Aditya
2 Yash
3 Shiv

In [27]:
# 6. Count how many times "a" occurs in a string.
a = "Aditya Dhananjay Pagar"
i = 0
for ch in a:
    if ch == 'a':
        i += 1
print(i)

6

In [29]:
# 7. Print keys and values from a dictionary.
data = {'a': 1, 'b': 2}
for a, b in data.items():
    print(a, b)

a 1
b 2

In [30]:
# 8. Sum all elements in a list using for loop.
numbers = [1, 2, 3, 4]
total = 0
for n in numbers:
    total += n
print(total)

10

In [34]:
# 9. Filter out odd numbers into a new list.
numbers = [1, 2, 3, 4, 5]
odds = []
for n in numbers:
    if n % 2 != 0:
        odds.append(n)
print(odds)

[1, 3, 5]

In [36]:
# 10. Create a list of cube of numbers from 1 to 10.
cubes = [x**3 for x in range(1, 11)]
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]