In [8]:
'''list method'''
# 1. Create a list of 5 numbers and print it.
l1 = [10,20,30,40,50]
type(l1)

list

In [9]:
# 2. Add a number at the end using append().
l1.append(60)
l1

[10, 20, 30, 40, 50, 60]

In [10]:
# 3. Add multiple elements using extend().
l1.extend ([70,80,90])
l1

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [11]:
# 4. Insert '100' at index 2.
l1.insert (2,100)
l1

[10, 20, 100, 30, 40, 50, 60, 70, 80, 90]

In [12]:
# 5. Remove element '100' using remove().
l1.remove(100)
l1

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [13]:
# 6. Pop the last element and print it.
l1.pop(8)
l1

[10, 20, 30, 40, 50, 60, 70, 80]

In [15]:
# 7. Count how many times '10' appears in the list.
l2= [10,10,20,30,10,40,50,10]
l2
l2.count(10)

4

In [16]:
# 8. Find the index of value '50' in the list.
l2.index(50)

6

In [17]:
# 9. Sort the list in ascending order.
l3= [10,20,40,50,80,60,70,30]
l3.sort()
l3

[10, 20, 30, 40, 50, 60, 70, 80]

In [18]:
# 10. Reverse the list.
l3.reverse()
l3

[80, 70, 60, 50, 40, 30, 20, 10]