In [1]:
#1)Print numbers from 1 to 10.
n = 11
for i in range (0,11):
    if n>=11:
        print(i)

0
1
2
3
4
5
6
7
8
9
10

In [2]:
#2)Print all even numbers between 1 and 20.
for i in range (1,21):
    if i%2==0:
        print (i)

2
4
6
8
10
12
14
16
18
20

In [3]:
#3)Print the table of 5?
n = 5
for i in range (1,11):
    print (n*i)
    i+=1

5
10
15
20
25
30
35
40
45
50

In [4]:
#4)Print all numbers between 1 and 50 that are divisible by 7?
for i in range (1,51):
    if i%7==0:
        print (i)

7
14
21
28
35
42
49

In [5]:
#5)Count how many numbers between 1 and 100 are divisible by 10?
count = 0
for i in range (1,100):
    if i%10==0:
        count += 1
print ("Total Numbers divisible by 7:",count)

Total Numbers divisible by 7: 9

In [6]:
#6)Factorial of a Number (5)
n = 5
fact = 1
for i in range (1,6):
    fact*=i
print ("Factorial of 5 is:",fact)

Factorial of 5 is: 120

In [7]:
#7)Factorial of a Number (9)
fact = 1
for i in range (1,10):
    fact*=i
print ("Factorial of No.9 is:",fact)

Factorial of No.9 is: 362880

In [8]:
#8)Find number is prime or not by any number
num = int(input("Entre Any Number:"))
prime=True
if num<=1:
    prime= False
for i in range (2, int (num**0.5)+1):
    if num % i == 0:
        prime= False
        break
print("Prime" if prime else "Not prime")

Entre Any Number: 12

Not prime

In [9]:
#9)Find the number is prime or not (19)
num = 19
prime = True
if num<=1:
    prime = False
for i in range (2, int(num**0.5)+1):
    if num % i ==0:
        prime=False 
        break
if prime:
    print(num,"Prime Number")
else:
    print (num,"Not a Prime Number")

19 Prime Number

In [10]:
#10)Print the all prime numbers in the range (0,100)
if num<=1:
    prime=False
for num in range (2,101):
    prime= True
    for i in range(2, int(num**0.5)+1):
        if num % i == 0:
            prime= False
            break
    if prime:
        print (num,end=',')

2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97,

In [11]:
#11)Entre any number to check the number is Palindrome or not
num = int(input("Enter any number: "))

def palindrome(num):
    return str(num) == str(num)[::-1]
if palindrome(num):
    print(num, "is a Palindrome")
else:
    print(num, "is NOT a Palindrome")

Enter any number:  123

123 is NOT a Palindrome

In [12]:
#12)Entre (1001) number to check the number is Palindrome or not
num = 1001
def palindrome(num):
    return str(num) == str (num)[::-1]
if palindrome(num):
    print (num, "Number is Palindrome")
else:
    print (num, "Number is Not Palindrome")

1001 Number is Palindrome

In [17]:
#13)Find the (153) number is armstrong or not
num = 153
mul_by= len(str(num))
total=0
for i in str(num):
    total=total+int(i)**mul_by
if total==num:
    print("armstrong")
else:
    print("not armstrong")

armstrong

In [14]:
#14)Entre any number to find number is armstrong or not
num = int(input("Entre any numer:"))
mul_by=len(str(num))
total= 0
for i in str(num):
    total= total+int(i)**mul_by
if total==num:
    print (num, "is a Armstrong Number")
else:
    print(num, "is not a Armstrong Number")

Entre any numer: 254

254 is not a Armstrong Number

In [16]:
#15)Fibonacci serise by entering any number
n = int(input("How many terms? ")) 
a, b = 0, 1                        
print("Fibonacci Series:", end=" ")

for i in range(n):              
    print(a, end=" ")           
    a, b = b, a + b

How many terms?  12

Fibonacci Series: 0 1 1 2 3 5 8 13 21 34 55 89