In [4]:
for i in range (5):
    print ("Aditya")

Aditya
Aditya
Aditya
Aditya
Aditya

In [5]:
for i in range (0,10):
    print (i)

0
1
2
3
4
5
6
7
8
9

In [7]:
for i in range (10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [14]:
for i in range (0,11):
    if i%2==0:
        print(i)

0
2
4
6
8
10

In [15]:
i = 1
while i<=5:
    print (i)
    i+=1

1
2
3
4
5

In [17]:
def greet (name):
    print ("Hello",name)
greet("Aditya")

Hello Aditya

In [18]:
def ap (a,b):
    d= a-b
    return d

In [21]:
ans =ap (13,14)
ans

-1

In [22]:
def gd (a,b):
    c = a%b
    return c

In [23]:
ans= gd (8,10)
ans

8

In [28]:
def square (x):
    sq = x*x
    return sq

In [29]:
ans = square (5)
ans

25

In [35]:
for i in range (0,51):
    if i%2!=0:
        print (i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [37]:
count = 0
for i in range (10,101):
    if i%2 == 0:
        count +=1
print ("Total Even numbers:",count)

Total Even numbers: 46

In [38]:
count = 0
for i in range (0,101):
    if i%2 != 0:
        count +=1
print ("Total odd numbers:", count)

Total odd numbers: 50

In [47]:
num = int (input("Entre any number"))
for i in range (1,11):
    result= (num*i)
    print (f"{num}*{i}={result}")

Entre any number 5

5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

In [52]:
sum = 0
for i in range (1,101):
    sum  += i
    print ("Sum of all numbers:",sum)

Sum of all numbers: 1
Sum of all numbers: 3
Sum of all numbers: 6
Sum of all numbers: 10
Sum of all numbers: 15
Sum of all numbers: 21
Sum of all numbers: 28
Sum of all numbers: 36
Sum of all numbers: 45
Sum of all numbers: 55
Sum of all numbers: 66
Sum of all numbers: 78
Sum of all numbers: 91
Sum of all numbers: 105
Sum of all numbers: 120
Sum of all numbers: 136
Sum of all numbers: 153
Sum of all numbers: 171
Sum of all numbers: 190
Sum of all numbers: 210
Sum of all numbers: 231
Sum of all numbers: 253
Sum of all numbers: 276
Sum of all numbers: 300
Sum of all numbers: 325
Sum of all numbers: 351
Sum of all numbers: 378
Sum of all numbers: 406
Sum of all numbers: 435
Sum of all numbers: 465
Sum of all numbers: 496
Sum of all numbers: 528
Sum of all numbers: 561
Sum of all numbers: 595
Sum of all numbers: 630
Sum of all numbers: 666
Sum of all numbers: 703
Sum of all numbers: 741
Sum of all numbers: 780
Sum of all numbers: 820
Sum of all numbers: 861
Sum of all numbers: 903
Sum of all numbers: 946
Sum of all numbers: 990
Sum of all numbers: 1035
Sum of all numbers: 1081
Sum of all numbers: 1128
Sum of all numbers: 1176
Sum of all numbers: 1225
Sum of all numbers: 1275
Sum of all numbers: 1326
Sum of all numbers: 1378
Sum of all numbers: 1431
Sum of all numbers: 1485
Sum of all numbers: 1540
Sum of all numbers: 1596
Sum of all numbers: 1653
Sum of all numbers: 1711
Sum of all numbers: 1770
Sum of all numbers: 1830
Sum of all numbers: 1891
Sum of all numbers: 1953
Sum of all numbers: 2016
Sum of all numbers: 2080
Sum of all numbers: 2145
Sum of all numbers: 2211
Sum of all numbers: 2278
Sum of all numbers: 2346
Sum of all numbers: 2415
Sum of all numbers: 2485
Sum of all numbers: 2556
Sum of all numbers: 2628
Sum of all numbers: 2701
Sum of all numbers: 2775
Sum of all numbers: 2850
Sum of all numbers: 2926
Sum of all numbers: 3003
Sum of all numbers: 3081
Sum of all numbers: 3160
Sum of all numbers: 3240
Sum of all numbers: 3321
Sum of all numbers: 3403
Sum of all numbers: 3486
Sum of all numbers: 3570
Sum of all numbers: 3655
Sum of all numbers: 3741
Sum of all numbers: 3828
Sum of all numbers: 3916
Sum of all numbers: 4005
Sum of all numbers: 4095
Sum of all numbers: 4186
Sum of all numbers: 4278
Sum of all numbers: 4371
Sum of all numbers: 4465
Sum of all numbers: 4560
Sum of all numbers: 4656
Sum of all numbers: 4753
Sum of all numbers: 4851
Sum of all numbers: 4950
Sum of all numbers: 5050

In [61]:
# count the number divisible form 1-100 by 3 & 7
count = 0
for i in range (0,201):
    if i % 3 == 0 and i % 7 == 0:
          count +=1
print("Total numbers divisible by both 3 and 5:", count)

Total numbers divisible by both 3 and 5: 10

In [57]:
#Count how many numbers from 50 to 100 are divisible by 6
sum = 0
for i in range (50,100):
    if i % 6 == 0:
        sum +=1
print ("Total Sum:",sum)

Total Sum: 8

In [62]:
#Write a program to print all numbers between 1 and 100 that are divisible by both 2 and 3.
for i in range (1,100):
    if i % 2 == 0 and i % 3 == 0:
        print (i)

6
12
18
24
30
36
42
48
54
60
66
72
78
84
90
96

In [83]:
#Count how many odd numbers exist between 30 and 60.
count = 0
for i in range (30,60):
    if i % 2 != 0:
        count+=1
        
print ("Total Numbers:",count)

Total Numbers: 15

In [72]:
#Write a program to print the square of each number from 1 to 10.
for i in range (1,10):
    square = i**2
    print ("Square of:", i, "is a", square)

Square of: 1 is a 1
Square of: 2 is a 4
Square of: 3 is a 9
Square of: 4 is a 16
Square of: 5 is a 25
Square of: 6 is a 36
Square of: 7 is a 49
Square of: 8 is a 64
Square of: 9 is a 81

In [76]:
#Find how many numbers between 1 and 200 are divisible by 7 but not by 5.
total = 0
for i in range (1,201):
    if i % 7 == 0 and i % 5 != 0:
        total +=1
print (total)

23

In [79]:
#Print all numbers between 1 and 50 whose square is less than 500.
for i in range (1,51):
    if i**2 <=500:
        print (i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22

In [89]:
#Write a program to print all numbers from 1 to 100 that are divisible by 3 or 5 but not both.
for i in range (1,100):
    if (i % 3 ==0 or i % 5 == 0)and i % 15 !=0:
        print (i)

3
5
6
9
10
12
18
20
21
24
25
27
33
35
36
39
40
42
48
50
51
54
55
57
63
65
66
69
70
72
78
80
81
84
85
87
93
95
96
99

In [92]:
l1 = [1,2,3,4,5,6,7,8,9,10]
b = l1[::-1]
b

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [98]:
l1= 12345
b = str(l1)[::-1]
c=int(b)
c

54321

In [99]:
l1 = "Aditya Dhananjay Pagar"
b = l1[::-1]
b

'ragaP yajnanahD aytidA'

In [105]:
num = 123456789
def a (num):
    b = ""
    for i in str (num):
        b=i+b
    return b
print (a(num))

987654321