In [1]:
#Python Functions Practice

In [3]:
#Q1. Write a lambda function to multiply a number by 5.
num = lambda x: x*5
print (num(4))

20

In [4]:
num = lambda x: x*8
print (num(8))

64

In [6]:
#Q2.Use lambda to return the last character of a string.
last_Ch = lambda x:x[-1]
print(last_Ch("Aditya"))

a

In [7]:
last_Ch = lambda x:x[-2]
print(last_Ch("Mayank"))

n

In [9]:
#Q3.Given a list of numbers, use map() and lambda to double each element.
elem = [1,2,3,4]
double = list(map(lambda x: x*2,elem))
print (double)

[2, 4, 6, 8]

In [10]:
elem = [4,4,4,4]
double = list(map(lambda x:x*x,elem))
print (double)

[16, 16, 16, 16]

In [14]:
#Q4.Convert a list of words to their lengths using map()
words = ["Aditya","Yash"]
length = list(map(lambda x: len(x), words))
print (length)

[6, 4]

In [13]:
words = ["laptop","Mobile"]
count = list(map(lambda x: len(x),words))
print(count)

[6, 6]

In [15]:
#Q5.Filter out all numbers greater than 50 from a list.
nums = [10,20,30,40,50,60,70,80,90,100]
more_than = list(filter(lambda x: x > 50,nums))
print(more_than)

[60, 70, 80, 90, 100]

In [18]:
nums = [1,2,3,4,5,6,7,8,9]
great= list(filter(lambda x: x<5, nums))
print(great)

[1, 2, 3, 4]

In [19]:
#Q6.Filter out names starting with the letter "A"
names = ["Aditya", "Ravi", "Amit", "Neha"]
letter_a= list(filter(lambda x: x.startswith("A"),names))
print(letter_a)

['Aditya', 'Amit']

In [23]:
names = ["shankar","sunil","sanjay","aditya","yash","Janvi"]
start = list(filter(lambda x: x.startswith("s"),names))
print(start)

['shankar', 'sunil', 'sanjay']

In [27]:
#Q7.Use reduce() to find the sum of all elements.
from functools import reduce
num = [1,2,3,4,5]
add = (reduce(lambda x,y:x+y,num))
print(add)

15

In [28]:
from functools import reduce
num = [2,2,4,4,5,5]
add = reduce(lambda x,y:x-y,num)
print (add)

-18

In [30]:
#Q8.Use reduce() to find the longest string in a list.
from functools import reduce
words = ["hi", "hello", "namaste"]
long = reduce (lambda x,y: x if len(x)>len(y) else (y),words)
print(long)

namaste

In [32]:
from functools import reduce
names = ["arguments","hello","whyeeee","goodbyee","adityapagar"]
long = reduce(lambda x,y: x if len(x) > len(y) else y,names)
print(long)

adityapagar

In [35]:
#Q9.Use zip() to pair names with marks.
name = ["Aditya","Yash","Manthan","Shiva","Om"]
marks = [84,73,51,78,62]
pair = list(zip(name,marks))
print(pair)

[('Aditya', 84), ('Yash', 73), ('Manthan', 51), ('Shiva', 78), ('Om', 62)]

In [37]:
name = ["Gitanshu","Tushar","Aditya"]
marks = [95,76,78]
pair = list (zip(name,marks))
print(pair)

[('Gitanshu', 95), ('Tushar', 76), ('Aditya', 78)]

In [38]:
#Q10.Use enumerate() to show item index from a list.
fruits = ["apple", "banana"]
for index,fruit in enumerate(fruits):
    print (index,fruit)

0 apple
1 banana

In [40]:
fruits = ["apple","banana","pineapple","mango","watermelon","orange"]
for index,fruit in enumerate(fruits):
    print(index,fruit)

0 apple
1 banana
2 pineapple
3 mango
4 watermelon
5 orange