In [1]:
#1.Write a program to remove all even numbers from a list.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
result = [n for n in numbers if n % 2 != 0]
print("List without even numbers:", result)

List without even numbers: [1, 3, 5, 7, 9]

In [2]:
#2.Write a program to calculate the average of numbers in a list.
nums = [10, 20, 30, 40, 50]
avg = sum(nums) / len(nums)
print("Average:", avg)

Average: 30.0

In [3]:
#3. Write a program to convert a string into uppercase without using .upper().
text = "python"
result = ""
for ch in text:
    if 'a' <= ch <= 'z':
        result += chr(ord(ch) - 32)
    else:
        result += ch
print(result)

PYTHON

In [4]:
#4.Write a program to print all prime numbers between 1 and 50.
for num in range(2, 51):
    is_prime = True
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num, end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

In [5]:
#5.Write a program to reverse a dictionary (keys become values and values become keys).
d = {'a': 1, 'b': 2, 'c': 3}
rev = {v: k for k, v in d.items()}
print(rev)

{1: 'a', 2: 'b', 3: 'c'}

In [6]:
#6.Write a program to check if two strings are anagrams.
s1 = "listen"
s2 = "silent"
if sorted(s1) == sorted(s2):
    print("Anagram")
else:
    print("Not an Anagram")

Anagram

In [7]:
#7.Write a program to find intersection of two lists.
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
intersection = [x for x in list1 if x in list2]
print("Intersection:", intersection)

Intersection: [4, 5]

In [8]:
#8. Write a program to remove punctuation from a string.
import string
text = "Hello!!! Python, is great??"
result = ''.join(ch for ch in text if ch not in string.punctuation)
print(result)

Hello Python is great

In [9]:
#9.Write a program to flatten a 2D list into 1D.
matrix = [[1,2,3],[4,5,6],[7,8,9]]
flat = [num for row in matrix for num in row]
print("Flattened list:", flat)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
#10.Write a program to generate the first 10 natural numbers using while loop.
i = 1
while i <= 10:
    print(i, end=" ")
    i += 1

1 2 3 4 5 6 7 8 9 10