In [1]:
'''Set Method'''
# 1. Create a set of 5 numbers.
s1 = {1,2,3,4,5}
type(s1)

set

In [2]:
# 2. Add '99' to the set.
s1.add(99)
s1

{1, 2, 3, 4, 5, 99}

In [3]:
# 3. Remove an element using remove().
s1.remove(99)
s1

{1, 2, 3, 4, 5}

In [4]:
# 4. Discard any element in the set.
s1.discard(5)
s1

{1, 2, 3, 4}

In [5]:
# 5. Pop a random element.
s1.pop()
s1

{2, 3, 4}

In [6]:
# 6. Create another set and do union().
s2 = {1,2,3,4,5}
s3 = {4,5,6,7,8}
s2.union(s3)

{1, 2, 3, 4, 5, 6, 7, 8}

In [7]:
# 7. Find intersection of two sets.
s2.intersection(s3)

{4, 5}

In [8]:
# 8. Find difference between two sets.
a = s2.difference(s3)
b = s3.difference(s2)
print (a,b)

{1, 2, 3} {8, 6, 7}

In [9]:
# 9. Convert list with duplicate values to set.
l1= (1,1,2,3,4,4,5,5,6,7,8)
print ("Origonal list:",l1)
s4= set(l1)
print ("After converting:",s4)

Origonal list: (1, 1, 2, 3, 4, 4, 5, 5, 6, 7, 8)
After converting: {1, 2, 3, 4, 5, 6, 7, 8}

In [10]:
# 10. Delete all iteams in the set
print ("My data before:",s4)
s4.clear()
print ("My data after applying method:")

My data before: {1, 2, 3, 4, 5, 6, 7, 8}
My data after applying method: