In [1]:
'''Tuple Method'''

'Tuple Method'

In [2]:
# 1. Create a tuple of fruits.
t1 = ('Mango','Orange','Banana','Watermelon','Pineapple')
type(t1)

tuple

In [3]:
# 2. Access the 3rd element using index.
t1.index('Watermelon')

3

In [4]:
# 3. Slice the tuple to get first 3 elements.
first_three = t1[:3]
first_three

('Mango', 'Orange', 'Banana')

In [5]:
# 4. Count how many times 'apple' appears.
t2 = ('apple', 'banana', 'apple', 'mango', 'apple')
t2.count('apple')

3

In [6]:
# 5. Find index of 'banana'.
t2.index('banana')

1

In [7]:
# 6. Convert tuple to list and modify it.
l1 = list(t2)
l1.append ('Orange')
l1

['apple', 'banana', 'apple', 'mango', 'apple', 'Orange']

In [8]:
# 7. Check if 'orange' is in the tuple.
t3= ('apple', 'banana', 'cherry','mango','pineapple')
if 'orange' in t3:
    print ("Orange available in tuple")
else:
    print ("Orange is not available in tuple")

Orange is not available in tuple

In [9]:
# 8. Create a single-element tuple.
single_element = ('Mango',)
type(single_element)

tuple

In [10]:
# 9. Nested tuple: ((1, 2), (3, 4)), access 3.
t4 = ((1, 2), (3, 4))
value = t4 [1][0]  
print("Value at nested index:", value)

Value at nested index: 3

In [11]:
# 10. Replacing the data from a existing data
tup8 = ('data', 25, [50,100], [150,90], ['yash', 'aditya'],(22,23,24))
tup8[4][0]='Nashik'
tup8

('data', 25, [50, 100], [150, 90], ['Nashik', 'aditya'], (22, 23, 24))